# App
# Use the production URL when deploying to production
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Database
DATABASE_URL="postgres://YOUR_POSTGRESSQL_URL"

# Stripe
# Stripe Publishable Key and Secret Key found at https://dashboard.stripe.com/test/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_"
STRIPE_API_KEY="sk_test_"
# Stripe Webhook Secret found at https://dashboard.stripe.com/test/webhooks/create?endpoint_location=local
# This need to replaced with the webhook secret for your webhook endpoint in production
STRIPE_WEBHOOK_SECRET="whsec_"

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="YOUR_CLOUDINARY_CLOUD_NAME"